version: "3"
services:
  # mysql:
  #   container_name: python_mysql
  #   build:
  #     context: ./build/mysql
  #   ports:
  #     - 4306:3306
  #   volumes:
  #     - mysql-data:/var/lib/mysql
  #   restart: always

  server:
    container_name: python_server
    build:
      context: ./build/server
    volumes:
      - ./code/server:/code
    ports:
      - 8000:8000
    working_dir: /code # コンテナ起動時
    command: 'python3 main.py'
    tty: true # コンテナを立ち上げっぱなしにする（ttyとは、標準出力の接続先デバイス）
    networks:
      - default
    # depends_on:
    #   - mysql

  # client:
  #   container_name: keywordChecker_client
  #   build:
  #     context: ./code/client
  #   ports:
  #     - 3000:80
  #   networks:
  #     - default


# defaultのネットワークを使用
networks:
  default:
    external: false

volumes:
  node-packages:
    external: false

# volumes:
#   mysql-data:
#     external: false
# デフォルトだと無名のVolume(データの永続化領域)が生成してしまうので明示
# servicesで指定するvolumes(バインドマウント)とは無関係
# external:で外部で作成しているプロジェクト用MySQLのボリュームを指定
# dooker downで削除しても消えない
# (既存のボリュームを指定する場合)
# volumes:
#   mysql-data:
#     external:
#       name: project-mysql
